html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}

#renderCanvas {
  grid-column: 2;
  height: 100%;
  width: 100%;
}

#interface {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(68, 70, 73);
  border-right: 5px solid black;
  align-items: flex-start;
}

#communicationCheckButton{
  background-color: rgb(194, 194, 194);
  margin: 5px;
  border-radius: 7px;
  border: 2px solid rgb(58, 58, 58);
  font-size: 12pt;
  /* display: none; */
}

#inputLabel{
  background-color: rgb(135, 135, 135);
  margin: 5px;
  border-radius: 7px;
  border: 2px solid rgb(58, 58, 58);
  font-size: 12pt;
  padding: 5px;
  font-family: Arial, sans-serif;
}

#fileInput {
  display: none;
}

.objectDiv {
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 91, 94);
  width: 100%;
  border-top: 4px  solid black;
  border-bottom: 4px  solid black;
  margin-bottom: 4px;
  padding-top: 5px;
}

.objectDiv button {
  margin: 5px;
  border-radius: 7px;
  border: 2px solid black;
  font-size: 11pt;
}

.deleteBtn {
  background-color: rgb(185, 71, 71);
}

.uploadBtn {
  background-color: rgb(117, 117, 117);
}

.downloadBtn {
  background-color: rgb(98, 176, 221);
}

.downloadLink {
  text-decoration: none;
  color: black;
}

.axisDiv {
  display: flex;
  flex-direction: row;
}

.axisDiv input {
  margin: 5px;
  border: 2px solid black;
}

.axisDiv label {
  margin-left: 6px;
  font-size: 14pt;
  font-family: Arial, sans-serif;
}