html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
}

#renderCanvas {
  grid-column: 2;
  height: 100%;
  width: 100%;
}

#interface {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(68, 70, 73);
  border-right: 5px solid black;
  align-items: center;
  overflow-y: auto;
}

.debugButton{
  background-color: rgb(194, 194, 194);
  margin: 5px;
  border-radius: 7px;
  border: 2px solid rgb(58, 58, 58);
  font-size: 12pt;
  /* display: none; */
}

#inputLabel{
  background-color: rgb(135, 135, 135);
  margin: 5px;
  border-radius: 7px;
  border: 2px solid rgb(58, 58, 58);
  font-size: 12pt;
  padding: 5px;
  font-family: Arial, sans-serif;
}

#fileInput {
  display: none;
}

.objectDiv {
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 91, 94);
  border-top: 2px solid #000;
  width: 100%;
}

.objectDiv .filenameLabel {
  align-self: center;
  background-color: rgb(156, 156, 156);
  text-align: center;
  box-shadow: 0px 3px 10px rgb(90, 90, 90);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 4px;
  margin-left: 0px;
  width: 100%;
}

.objectDiv input {
  margin: 5px;
  border: 2px solid black;
  border-radius: 6px;
}

.objectDiv label {
  margin-left: 6px;
  font-size: 14pt;
  font-family: Arial, sans-serif;
  width: auto;
}

.buttonDiv button {
  margin: 5px;
  border-radius: 7px;
  border: 2px solid black;
  font-size: 11pt;
}

.buttonDiv .deleteBtn {
  background-color: rgb(185, 71, 71);
}

.buttonDiv .uploadBtn {
  background-color: rgb(117, 117, 117);
}

.buttonDiv .downloadBtn {
  background-color: rgb(98, 176, 221);
}

.buttonDiv .downloadLink {
  text-decoration: none;
  color: black;
}

.objectDiv .buttonDiv {
  display: flex;
  flex-direction: column;
  grid-template-columns: 2;
}